<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIIT - Admin Panel NEWS</title>
    <link rel="shortcut icon" href="/client/assets/img/favicon.png" type="image/x-icon">

    
</head>

<body>
    <%- body %>

</body>

</html>