<div class="main__items">

    <h1 style="text-align: center;" class="mt-2">Active menu</h1>

    <div class="row col-md-10 ms-16">
        <button data-bs-toggle="offcanvas" data-bs-target="#CREATE_DATA" aria-controls="CREATE_DATA" type="button"
            class="btn col-md-1 btn-success btn-sm">Create</button>
        <button data-bs-toggle="offcanvas" data-bs-target="#ARCHIVE_DATA" aria-controls="ARCHIVE_DATA" type="button"
            class="btn col-md-1 btn-danger btn-sm  ms-1">Archive</button>
    
    </div>
    
    
    <!-- Jadval -->
    <div class="row col-md-12 mt-2" style="padding: 20px 110px;">
        <div class="col-md-12">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="table-dark">
                        <th style="width: 5%;" class="text-center">#</th>
                        <th style="width: 20%;">Name - UZ</th>
                        <th style="width: 20%;">Name - RU</th>
                        <th style="width: 20%;">Name - ENG</th>
                        <th style="width: 20%; background-color: #15616d !important; color: #ffecd1;">GMenu</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th style="width: 15%;">Edit</th>
                    </tr>
                </thead>
                <tbody class="SET-TABLE">
    
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Create -->
<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="CREATE_DATA"
    aria-labelledby="CREATE_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Create</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <input type="text" class="form-control form-control-sm" id="NameUz" placeholder="Asosiy Menu nomi">
        <input type="text" class="form-control form-control-sm mt-2" id="NameRu" placeholder="Название Гл. Меню">
        <input type="text" class="form-control form-control-sm mt-2" id="NameEng" placeholder="Main Menu name">
        <div class="col-md-12 ">
            <label>Choose GMenu</label>
            <select id="gmenu" class="form-control"> </select>
        </div>
        <button onclick="create_data()" type="button" class="btn col-md-3 mt-3 btn-success btn-sm">Save</button>
    </div>
</div>
<!-- Archive -->
<div class="offcanvas offcanvas-end" style="width: 55%;" data-bs-backdrop="static" tabindex="-1" id="ARCHIVE_DATA"
    aria-labelledby="ARCHIVE_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Archive datas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <table class="table table-bordered text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Name - UZ</th>
                    <th scope="col">Name - RU</th>
                    <th scope="col">Name - ENG</th>
                    <th scope="col" style="background-color: #15616d !important; color: #ffecd1;">GMenu</th>
                    <th scope="col" style="width: 5%;">Status</th>
                    <th scope="col" style="width: 5%;">Sana</th>
                    <th scope="col" style="width: 15%;">Sozlama</th>
                </tr>
            </thead>
            <tbody class="SET-TABLE-ARCHIVE">

            </tbody>
        </table>

    </div>
</div>
<!-- Edit -->
<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="EDIT_DATA" aria-labelledby="EDIT_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body edit-data">

    </div>
</div>


<script src="/assets/js/axios.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script>


    const get_all_gmenus = async (menu) => {
        axios.get("/api/gmenu/all", { params: { status: 'active' } }).then(async (res) => {
            const data = res.data.data; // [{}, {}, {}, ...]
            const elem = $(menu);
            await elem.html('')
            elem.append(`<option value="">Choose</option>`)
            data.forEach((gmenu) => {
                elem.append(`<option value="${gmenu._id}">${gmenu.name.uz}</option>`)
            });
        })
    }
    get_all_gmenus('#gmenu')

    // HTML ga malumotlarni joylash
    const set_table_data = async (Arrays, Classes) => {
        const result = Arrays; // [ {}, {}, {}, ... ]
        const setTable = $(Classes)
        await setTable.html("")
        result.forEach((item, index) => {
            setTable.append(`
                    <tr>
                        <th>${index += 1}</th>
                        <td>${item.name.uz}</td>
                        <td>${item.name.ru}</td>
                        <td>${item.name.eng}</td>
                        <td style="background-color: #ff7d00 !important; color: #001524;">${item.gmenu.name.uz}</td>
                        <td>
                            ${item.status == 'active' ?
                    `<span style="font-weight: 500;" class="badge text-bg-success">Active</span>`
                    :
                    `<span style="font-weight: 500;" class="badge text-bg-danger">Freeze</span>`
                }
                        </td>
                        <td>${new Date(item.createdAt).toLocaleDateString('en-GB')}</td>
                        <td>
                            
                            ${item.status == 'active' ?
                    `
                                    <button data-bs-toggle="offcanvas" data-bs-target="#EDIT_DATA" aria-controls="EDIT_DATA" onclick="get_data('${item._id}')" type="button" class="btn btn-warning btn-sm" style="font-size: 12px;" >
                                        Edit
                                    </button>
                                    <button onclick="change_status('${item._id}', 'archive')" type="button" class="btn btn-danger btn-sm" style="font-size: 12px;" >
                                        Archive
                                    </button>
                                `
                    :
                    `
                                    <button onclick="change_status('${item._id}', 'active')" type="button" class="btn btn-primary btn-sm" style="font-size: 12px;" >
                                        Active
                                    </button>
                                    <button onclick="fullDelete('${item._id}')" type="button" class="btn btn-danger btn-sm" style="font-size: 12px;" >
                                        Dell
                                    </button>
                                `
                }
                        </td>
                    </tr>
                `)
        });
    }

    const get_all_datas = async (Status) => {
        axios.get("/api/header/all", { params: { status: Status } }).then(async (res) => {
            if (Status == 'active') {
                set_table_data(res.data.data, '.SET-TABLE')
            }
            else {
                set_table_data(res.data.data, '.SET-TABLE-ARCHIVE')
            }
        })
    }
    get_all_datas('active')    
    get_all_datas('archive')    

    // 2.Create
    const create_data = async () => {
        const nameUz = document.getElementById("NameUz").value;
        const nameRu = document.getElementById("NameRu").value;
        const nameEng = document.getElementById("NameEng").value;
        const gmenu = document.getElementById("gmenu").value;
        if (nameUz == "" || nameRu == "" || nameEng == "" || gmenu == "") alert("Malumotni kiriting")
        else {
            axios.post("/api/header/create", { name: {uz: nameUz, ru: nameRu, eng: nameEng}, gmenu }).then((res) => {
                const result = res.data;
                if (result.status == true) {
                    get_all_datas('active') 
                }
            })
        }
    }

    // 3.Alohida olish
    const get_data = async (id) => {
        axios.get(`/api/header/${id}`).then(async (res) => {
            const result = res.data;           
            get_all_gmenus('#GMenu')
            if (result.status == true) {
                // const data = res.data.data; // [{}, {}, {}, ...]
                const setTable = $(".edit-data")
                await setTable.html("")
                setTable.append(`
                    <input id="NamesUz" value="${result.data.name.uz}" type="text" class="form-control form-control-sm"  placeholder="Name - UZ">
                    <input id="NamesRu" value="${result.data.name.ru}" type="text" class="form-control form-control-sm"  placeholder="Name - RU">
                    <input id="NamesEng" value="${result.data.name.eng}" type="text" class="form-control form-control-sm"  placeholder="Name - ENG">
                    <div class="col-md-12 ">
                        <label>GMenu</label>
                        <select id="GMenu" class="form-control" > <option value="${result.data.gmenu._id}">${result.data.gmenu.name.uz}</option> </select>
                    </div>
                    <button onclick="update_data('${result.data._id}')" type="button" class="btn col-md-3 mt-3 btn-success btn-sm">Edit</button>
                `);
            }

            console.log(result);
        })
    }

    // 4.Edit
    const update_data = async (id) => {
        const namingUz = document.getElementById('NamesUz').value;
        const namingRu = document.getElementById('NamesRu').value;
        const namingEng = document.getElementById('NamesEng').value;
        const gmenub = document.getElementById('GMenu').value;
        if (namingUz == "" || namingRu == "" || namingEng == "" || gmenub == "") alert("Malumotni kiriting")
        else {
            axios.put(`/api/header/${id}`, { name: {uz: namingUz, ru: namingRu, eng: namingEng}, gmenu: gmenub }).then((res) => {
                const result = res.data;
                if (result.status == true) {
                    get_all_datas('active')  
                    get_all_datas('archive')  
                }
            })
        }
    }

    // 5.Faollashtir yoki Archivelash
    const change_status = async (id, statusName) => {
        axios.put(`/api/header/${id}`, { status: statusName }).then((res) => {
            const result = res.data;
            if (result.status == true) {
                get_all_datas('active')    
                get_all_datas('archive')   
            }
        })
    }

    const fullDelete = async (id) => {
        axios.delete(`/api/header/${id}`).then((res) => {
            const data = res.data.data;
            alert(`${data} has been deleted`)
            get_all_datas('active')    
            get_all_datas('archive') 
        })
    }

</script>