<div class="main__items">
    <h1 style="text-align: center" class="mt-2 ms-13 col-md-10">Guides menu</h1>

    <div class="row col-md-10 ms-13">
        <button data-bs-toggle="offcanvas" data-bs-target="#CREATE_DATA" aria-controls="CREATE_DATA" type="button"
            class="btn col-md-1 btn-success btn-sm">
            Create
        </button>
        <button data-bs-toggle="offcanvas" data-bs-target="#ARCHIVE_DATA" aria-controls="ARCHIVE_DATA" type="button"
            class="btn col-md-1 btn-danger btn-sm ms-1">
            Archive
        </button>
    </div>

    <div class="count row col-md-10 ms-12 mt-3">
        <h4 id="count">Count: </h4>
    </div>
    
    <div class="news-table">
        
    </div>
</div>
<!-- Create -->
<div class="offcanvas offcanvas-end" style="width: 1920px" data-bs-backdrop="static" tabindex="-1" id="CREATE_DATA" aria-labelledby="CREATE_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Create - Guides</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="display: flex; flex-direction: row; justify-content: space-evenly">
        <div class="box-left" style="width: 25%">
            <div class="col-md-12 mt-3">
                <label style="font-size: 17px">Header</label>
                <select id="headerPage" class="form-control form-control-sm"></select>
                
            </div>
            <div class="col-md-12 mt-2">
                <label style="font-size: 17px">Name</label>
                <input type="text" class="form-control form-control-sm " id="name_uz" placeholder="Sarlavha..." />
                <input type="text" class="form-control form-control-sm mt-2" id="name_ru" placeholder="Загаловок..." />
                <input type="text" class="form-control form-control-sm mt-2" id="name_eng" placeholder="Heading..." />
            </div>           

            <div class="col-md-12 mt-2">
                <label style="font-size: 17px">Description</label>
                <input type="text" id="description_uz" class="form-control form-control-sm" placeholder="Ma'lumot..." />
                <input type="text" id="description_ru" class="form-control form-control-sm mt-2" placeholder="Информация..." />
                <input type="text" id="description_eng" class="form-control form-control-sm mt-2" placeholder="Description..." />
            </div>

            <div class="col-md-12 mt-2">
                <label style="font-size: 17px">Info</label>
                <input type="number" id="phone" class="form-control form-control-sm" placeholder="PhoneNum" />
                <input type="email" id="email" class="form-control form-control-sm mt-2" placeholder="Email" />
                <input type="text" id="site" value="https://" class="form-control form-control-sm mt-2" placeholder="SiteUrl" />
            </div>

            <div class="col-md-12 mt-2">
                <label style="font-size: 17px">Time</label>
                <!-- <input type="text" id="time" class="form-control form-control-sm mt-2" placeholder="Week Date" /> -->
                <select name="time" id="time" class="form-control form-control-sm mt-2">
                    <option value="">Tanlang...</option>
                    <option value="Monday">Dushanba</option>
                    <option value="Tuesday">Seshanba</option>
                    <option value="Wednesday">Chorshanba</option>
                    <option value="Thursday">Payshanba</option>
                    <option value="Friday">Juma</option>
                    <option value="Saturday">Shanba</option>
                    <option value="Sunday">Yakshanba</option>
                </select>
                <input type="text" id="timeStart" class="form-control form-control-sm mt-2" placeholder="StartTime - 07:00" />
                <input type="text" id="timeEnd" class="form-control form-control-sm mt-2" placeholder="EndTime - 21:00" />
            </div>  

            <div class="col-md-12 mt-3">
                <label style="font-size: 17px">Params Name</label>
                <input type="text" id="paramsName" class="form-control form-control-sm" placeholder="Optional"/>
            </div>

            <button onclick="create_data()" type="button" class="btn col-md-6 mt-3 btn-success btn-sm">
                Save
            </button>
        </div>

        <div class="box-right" style="display: grid; height: 300px;">
            <div class="col-md-12 mt-3" style="display: grid; ">
                <label style="font-size: 17px">Album photo</label>
                <div class="container-guides" style="display: flex; flex-direction: column; gap: .75rem;">
                    <div class="boxy" style="padding: 2rem; width: 100%; border: 1px solid #bcbcbc;">
                        <div class="temp" style="grid-template-columns: 1fr 2fr 30%; display: grid; align-items: center;gap: 2rem;">
                            <div class="img" style="position: relative; width: 11.875rem; height: 11.875rem; background-color: #e5e8eb; border-radius: 50%; overflow: hidden;">
                                <img src="" style="width: 190px; height: 190px; object-fit: cover;" id="outputt" alt="EMPLOYEE">
                            </div>
                            <div class="text" style="flex-direction: column; display: flex;">
                                <h3 style="font-size: 1.5rem; font-weight: 600;" id="OutName">F.I.O</h3>
                                <p style="font-size: 1rem; max-width: 31.25rem; padding-top: 0.5rem;" id="OutDescription">Description</p>
                            </div>
                            <div class="info" style="gap: 0.5rem; flex-direction: column; display: flex;">
                                <a target="_blank" href="tel:" style="display: flex; align-items: center; gap: .625rem;"> 
                                    <svg style="width: 20px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" data-name="483947" viewBox="0 0 17.2 17.2"><path d="M15.82 11.29a9.8 9.8 0 0 1-3.067-.488 1.4 1.4 0 0 0-1.363.287l-1.934 1.46a10.7 10.7 0 0 1-4.805-4.8l1.416-1.888a1.39 1.39 0 0 0 .342-1.409 9.8 9.8 0 0 1-.49-3.072A1.38 1.38 0 0 0 4.539 0H1.38A1.38 1.38 0 0 0 0 1.38 15.84 15.84 0 0 0 15.82 17.2a1.38 1.38 0 0 0 1.38-1.38v-3.15a1.38 1.38 0 0 0-1.38-1.38" data-name="telephone"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;" id="OutPhone">
                                        (+998) PhoneNum
                                    </i>
                                </a>
                                <a target="_blank" href="mailto:" style="display: flex; align-items: center; gap: .625rem;">
                                    <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" width="23.154" height="16.28"><path d="M2.036 16.28a2 2 0 0 1-.872-.2l7.023-6.977.993.994a3.4 3.4 0 0 0 4.795 0l.994-.994 7.023 6.977a2 2 0 0 1-.872.2Zm13.892-8.139 7.023-6.977a2 2 0 0 1 .2.872v12.211a2 2 0 0 1-.2.872ZM0 14.246V2.035a2 2 0 0 1 .206-.872L7.227 8.14.206 15.117a2 2 0 0 1-.204-.87Zm10.14-5.112L1.164.202a2.04 2.04 0 0 1 .872-.2h19.085a2.05 2.05 0 0 1 .872.2l-8.976 8.932a2.03 2.03 0 0 1-1.439.595 2.03 2.03 0 0 1-1.438-.594Z" data-name="message"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;" id="OutEmail">
                                        Email
                                    </i>
                                </a>
                                <a target="_blank" href="" style="display: flex; align-items: center; gap: .625rem;">
                                    <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#013d8c" d="M12 0a12 12 0 1 0 12 12A12 12 0 0 0 12 0m8.647 7h-3.221a19.7 19.7 0 0 0-2.821-4.644A10.03 10.03 0 0 1 20.647 7M16.5 12a10.2 10.2 0 0 1-.476 3H7.976a10.2 10.2 0 0 1-.476-3 10.2 10.2 0 0 1 .476-3h8.048a10.2 10.2 0 0 1 .476 3m-7.722 5h6.444A19.6 19.6 0 0 1 12 21.588 19.6 19.6 0 0 1 8.778 17m0-10A19.6 19.6 0 0 1 12 2.412 19.6 19.6 0 0 1 15.222 7ZM9.4 2.356A19.7 19.7 0 0 0 6.574 7H3.353A10.03 10.03 0 0 1 9.4 2.356M2.461 9H5.9a12 12 0 0 0-.4 3 12 12 0 0 0 .4 3H2.461a10 10 0 0 1 0-6m.892 8h3.221A19.7 19.7 0 0 0 9.4 21.644 10.03 10.03 0 0 1 3.353 17M14.6 21.644A19.7 19.7 0 0 0 17.426 17h3.221a10.03 10.03 0 0 1-6.042 4.644ZM21.539 15H18.1a12 12 0 0 0 .4-3 12 12 0 0 0-.4-3h3.437a10 10 0 0 1 0 6Z"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;" id="OutSite">
                                        https://SiteUrl
                                    </i>
                                </a>
                                <div style="display: flex; align-items: center; gap: .625rem;"> 
                                    <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.6 20.4C1.3 18.2 0 15.2.1 12c0-3.2 1.3-6.2 3.5-8.4C5.8 1.3 8.8 0 12 .1c3.2 0 6.2 1.3 8.4 3.5s3.5 5.3 3.5 8.4c0 3.2-1.3 6.2-3.5 8.4s-5.3 3.5-8.4 3.5c-3.2.1-6.2-1.2-8.4-3.5M2.4 12c0 5.3 4.3 9.6 9.6 9.6s9.6-4.3 9.6-9.6-4.3-9.6-9.6-9.6h-.1c-5.3.1-9.5 4.3-9.5 9.6m10.3 7.3c0-.4-.3-.7-.7-.7s-.7.3-.7.7v.9c-4-.3-7.1-3.5-7.4-7.5h.8c.4 0 .7-.3.7-.7s-.3-.7-.7-.7h-.8c.4-3.9 3.4-7 7.3-7.4v.7c0 .4.3.7.7.7s.7-.3.7-.7v-.8c4 .3 7.1 3.4 7.5 7.3h-.8c-.4 0-.7.3-.7.7s.3.7.7.7h.9c-.3 4-3.4 7.2-7.5 7.6zM7.4 7.4c-.3.3-.3.7 0 1l4.1 4.1c.1.1.3.2.5.2s.4-.1.5-.2l2.4-2.4c.3-.3.3-.7 0-1s-.7-.3-1 0L12 11 8.4 7.4c-.1-.2-.3-.2-.5-.2s-.4.1-.5.2" class="clock_svg__st0"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;" >
                                        <span id="OutTime">WeekDay</span>
                                        <span id="OutTimeStart">00:00</span>
                                        -
                                        <span id="OutTimeEnd">00:00</span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="file" id="image" class="form-control form-control-sm mt-1" style="width: 280px;" accept=".jpg, .jpeg, .png, .webp" onchange="loadFile(event)">
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" style="width: 1920px" data-bs-backdrop="static" tabindex="-1" id="EDIT_DATA" aria-labelledby="EDIT_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Edit - News</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body edit-data" style="display: flex; flex-direction: row; justify-content: space-evenly">
        
    </div>
</div>

<div class="offcanvas offcanvas-end" style="width: 1920px" data-bs-backdrop="static" tabindex="-1" id="ARCHIVE_DATA" aria-labelledby="ARCHIVE_DATA">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Archive - News</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="display: flex; flex-direction: row; justify-content: space-evenly">
        <div class="archive-box"></div>
    </div>
</div>

<script src="/assets/js/axios.min.js"></script>
<!-- <script src="/assets/js/jquery.min.js"></script> -->
<script src="/assets/cleditor/jquery.cleditor.min.js"></script>

<script>
    $(document).ready(function () {
        $("#name_uz").on("input", function () {
            $("#OutName").html($(this).val());
        });
        $("#description_uz").on("input", function () {
            $("#OutDescription").html($(this).val());
        });
        $("#phone").on("input", function () {
            $("#OutPhone").html($(this).val());
        });
        $("#email").on("input", function () {
            $("#OutEmail").html($(this).val());
        });
        $("#site").on("input", function () {
            $("#OutSite").html($(this).val());
        });
        $("#time").on("input", function () {
            $("#OutTime").html($(this).val());
        });
        $("#timeStart").on("input", function () {
            $("#OutTimeStart").html($(this).val());
        });
        $("#timeEnd").on("input", function () {
            $("#OutTimeEnd").html($(this).val());
        });
    });
</script>


<script>

    const get_all_header = async (menu) => {
        axios.get("/api/header/all", { params: { status: "active" } }).then(async (res) => {
            const data = res.data.data; // [{}, {}, {}, ...]
            const elem = $(menu);
            await elem.html('')
            elem.append(``)
            data.forEach((header) => {
                elem.append(`<option value="${header._id}">${header.name.uz}</option>`)
            });
            
        })
    }
    get_all_header('#headerPage')

    const loadFile = function(event) {
        // }
        var outputt = document.getElementById('outputt');
        outputt.src = URL.createObjectURL(event.target.files[0]);
        outputt.onload = function() {
          URL.revokeObjectURL(outputt.src) // free memory
        }
    };

    const loadFileq = function(event) {
        var outputq = document.getElementById('outputtq');
        outputq.src = URL.createObjectURL(event.target.files[0]);
        outputq.onload = function() {
          URL.revokeObjectURL(outputq.src) // free memory
        }
    }; 

    create_data = () => {

        const header_page = document.getElementById("headerPage").value;      

        const name_uz = document.getElementById("name_uz").value;
        const name_ru = document.getElementById("name_ru").value;
        const name_eng = document.getElementById("name_eng").value;

        const txt_uz = document.getElementById("description_uz").value;
        const txt_ru = document.getElementById("description_ru").value;
        const txt_eng = document.getElementById("description_eng").value;

        const phone = document.getElementById("phone").value;
        const email = document.getElementById("email").value;
        const site = document.getElementById("site").value;

        const time = document.getElementById("time").value;
        const timeStart = document.getElementById("timeStart").value;
        const timeEnd = document.getElementById("timeEnd").value;

        const params_name = document.getElementById("paramsName").value;

        const image = document.getElementById("image").files;

        const tokens = window.localStorage.getItem("hTawDwdI4awd412wa");
        if (!tokens) {
            alert("You should sign-in to your profile");
            return;
        }
        else {
            axios.get("/api/admin/decode", { headers: { Authorization: tokens } }).then((res) => {
                const data = res.data;
                if (data.status === true) {


                    const forms = new FormData();

                    forms.append("name.uz", name_uz);
                    forms.append("name.ru", name_ru);
                    forms.append("name.eng", name_eng);
                    forms.append("description.uz", txt_uz);
                    forms.append("description.ru", txt_ru);
                    forms.append("description.eng", txt_eng);
                    forms.append("time", time);
                    forms.append("timeStart", timeStart);
                    forms.append("timeEnd", timeEnd);
                    forms.append("phone", phone);
                    forms.append("email", email);
                    forms.append("site", site);
                    forms.append("params_name", params_name);

                    if (image.length > 0) {
                        forms.append("image", image[0]);
                    } else {
                        alert("Please upload a main image.");
                        return;
                    }
                    forms.append("header", header_page);

                    axios.post("/api/guides/create", forms, {
                        headers: { "Content-Type": "multipart/form-data" },
                    })
                    .then((res) => {
                        const responseData = res.data;
                        if (responseData.status) {
                            alert("News created successfully!");
                        } else {
                            console.log(responseData);
                            console.log(header_page);
                            
                        }
                    })
                    .catch((err) => {
                        console.error("Error:", err);
                        alert("Server error. Try again later.");
                    });
                } else {
                    alert("Akkountga kirish kerak!");
                }
            });
        }
    }
    
    const set_table_data = async (Arrays, Classes) => {
        const result = Arrays; // [ {}, {}, {}, ... ]
        const setTable = $(Classes);
        await setTable.html("");
        
        result.forEach((item, index) => {
            setTable.append(`
                <div class="container-guides" style="display: flex; flex-direction: column; gap: .75rem; max-width: 1020px">
                    <span style="position: absolute;" class="ms-2 mt-1"> #${index += 1} </span>
                    <div class="boxy" style="padding: 2rem; width: 100%; border: 1px solid #bcbcbc;">
                        <div class="temp" style="grid-template-columns: 1fr 2fr 30%; display: grid; align-items: center;gap: 2rem;">
                            <div class="img" style="position: relative; width: 11.875rem; height: 11.875rem; background-color: #e5e8eb; border-radius: 50%; overflow: hidden;">
                                <img src="${item.image}" style="width: 190px; height: 190px; object-fit: cover;" alt="EMPLOYEE">
                            </div>
                            <div class="text" style="flex-direction: column; display: flex;">
                                <h3 style="font-size: 1.5rem; font-weight: 600;">${item.name.uz}</h3>
                                <p style="font-size: 1rem; max-width: 31.25rem; padding-top: 0.5rem;">${item.description.uz}</p>
                            </div>
                            <div class="info" style="gap: 0.5rem; flex-direction: column; display: flex;">
                                <a target="_blank" href="tel:" style="display: flex; align-items: center; gap: .625rem;"> 
                                    <svg style="width: 20px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" data-name="483947" viewBox="0 0 17.2 17.2"><path d="M15.82 11.29a9.8 9.8 0 0 1-3.067-.488 1.4 1.4 0 0 0-1.363.287l-1.934 1.46a10.7 10.7 0 0 1-4.805-4.8l1.416-1.888a1.39 1.39 0 0 0 .342-1.409 9.8 9.8 0 0 1-.49-3.072A1.38 1.38 0 0 0 4.539 0H1.38A1.38 1.38 0 0 0 0 1.38 15.84 15.84 0 0 0 15.82 17.2a1.38 1.38 0 0 0 1.38-1.38v-3.15a1.38 1.38 0 0 0-1.38-1.38" data-name="telephone"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;">
                                        (+998) ${item.phone}
                                    </i>
                                </a>
                                <a target="_blank" href="mailto:" style="display: flex; align-items: center; gap: .625rem;">
                                    <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" width="23.154" height="16.28"><path d="M2.036 16.28a2 2 0 0 1-.872-.2l7.023-6.977.993.994a3.4 3.4 0 0 0 4.795 0l.994-.994 7.023 6.977a2 2 0 0 1-.872.2Zm13.892-8.139 7.023-6.977a2 2 0 0 1 .2.872v12.211a2 2 0 0 1-.2.872ZM0 14.246V2.035a2 2 0 0 1 .206-.872L7.227 8.14.206 15.117a2 2 0 0 1-.204-.87Zm10.14-5.112L1.164.202a2.04 2.04 0 0 1 .872-.2h19.085a2.05 2.05 0 0 1 .872.2l-8.976 8.932a2.03 2.03 0 0 1-1.439.595 2.03 2.03 0 0 1-1.438-.594Z" data-name="message"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;">
                                        ${item.email}
                                    </i>
                                </a>
                                <a target="_blank" href="" style="display: flex; align-items: center; gap: .625rem;">
                                    <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#013d8c" d="M12 0a12 12 0 1 0 12 12A12 12 0 0 0 12 0m8.647 7h-3.221a19.7 19.7 0 0 0-2.821-4.644A10.03 10.03 0 0 1 20.647 7M16.5 12a10.2 10.2 0 0 1-.476 3H7.976a10.2 10.2 0 0 1-.476-3 10.2 10.2 0 0 1 .476-3h8.048a10.2 10.2 0 0 1 .476 3m-7.722 5h6.444A19.6 19.6 0 0 1 12 21.588 19.6 19.6 0 0 1 8.778 17m0-10A19.6 19.6 0 0 1 12 2.412 19.6 19.6 0 0 1 15.222 7ZM9.4 2.356A19.7 19.7 0 0 0 6.574 7H3.353A10.03 10.03 0 0 1 9.4 2.356M2.461 9H5.9a12 12 0 0 0-.4 3 12 12 0 0 0 .4 3H2.461a10 10 0 0 1 0-6m.892 8h3.221A19.7 19.7 0 0 0 9.4 21.644 10.03 10.03 0 0 1 3.353 17M14.6 21.644A19.7 19.7 0 0 0 17.426 17h3.221a10.03 10.03 0 0 1-6.042 4.644ZM21.539 15H18.1a12 12 0 0 0 .4-3 12 12 0 0 0-.4-3h3.437a10 10 0 0 1 0 6Z"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;">
                                        ${item.site}
                                    </i>
                                </a>
                                <div style="display: flex; align-items: center; gap: .625rem;"> 
                                    <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.6 20.4C1.3 18.2 0 15.2.1 12c0-3.2 1.3-6.2 3.5-8.4C5.8 1.3 8.8 0 12 .1c3.2 0 6.2 1.3 8.4 3.5s3.5 5.3 3.5 8.4c0 3.2-1.3 6.2-3.5 8.4s-5.3 3.5-8.4 3.5c-3.2.1-6.2-1.2-8.4-3.5M2.4 12c0 5.3 4.3 9.6 9.6 9.6s9.6-4.3 9.6-9.6-4.3-9.6-9.6-9.6h-.1c-5.3.1-9.5 4.3-9.5 9.6m10.3 7.3c0-.4-.3-.7-.7-.7s-.7.3-.7.7v.9c-4-.3-7.1-3.5-7.4-7.5h.8c.4 0 .7-.3.7-.7s-.3-.7-.7-.7h-.8c.4-3.9 3.4-7 7.3-7.4v.7c0 .4.3.7.7.7s.7-.3.7-.7v-.8c4 .3 7.1 3.4 7.5 7.3h-.8c-.4 0-.7.3-.7.7s.3.7.7.7h.9c-.3 4-3.4 7.2-7.5 7.6zM7.4 7.4c-.3.3-.3.7 0 1l4.1 4.1c.1.1.3.2.5.2s.4-.1.5-.2l2.4-2.4c.3-.3.3-.7 0-1s-.7-.3-1 0L12 11 8.4 7.4c-.1-.2-.3-.2-.5-.2s-.4.1-.5.2" class="clock_svg__st0"></path></svg>
                                    <i style="font-size: 1rem; color: #000; max-width: 20rem;">
                                        <span>${item.time}</span>
                                        <span>${item.timeStart}</span>
                                        -
                                        <span>${item.timeEnd}</span>
                                    </i>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="action" style=" display: flex; flex-direction: column; gap: 5px; max-width: 10rem">
                    <p style="margin: 0;">${item.params_name == "" || item.params_name == undefined || item.params_name == null || !item.params_name ? `` : `PName: ${item.params_name}`}</p>
                    <p style="margin: 0;">${item.header == "" || item.header == undefined || item.header == null || !item.header ? `` : `Header: ${item.header.name.uz}`}</p>
                    <p style="margin: 0;">${new Date(item.createdAt).toLocaleString("en-GB")}</p>
                    ${item.status == "active"
                        ?`<button onclick="change_status('${item._id}', 'archive')" class="btn btn-danger btn-sm">Archive</button>`
                        :`<button onclick="change_status('${item._id}', 'active')" class="btn btn-success btn-sm">Active</button>`
                    }
                    <button data-bs-toggle="offcanvas" data-bs-target="#EDIT_DATA" aria-controls="EDIT_DATA" onclick="get_data('${item._id}')" type="button" class="btn btn-warning btn-sm" style="font-size: 12px;">Edit</button>
                    <button onclick="fullDelete('${item._id}')" class="btn btn-danger btn-sm">Delete</button>
                </div>
            `);
            
            
        });
    };

    const get_all_datas = async (Status) => {
        axios.get("/api/guides/all", { params: { status: Status } })
            .then(async (res) => {
                console.log(res);
                
                const count = document.getElementById('count');
                count.innerHTML = `${res.data.data.length !== 0 
                    ?`
                    <span>Count: ${res.data.data.length} guides</span>
                    ` 
                    :`
                    <div style="display: grid; justify-items: center; align-content: center; width: 100%; height: 120px">
                        <div>
                            <svg width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg">
                                <title>No data</title>
                                <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                                    <ellipse fill="#f5f5f5" cx="32" cy="33" rx="32" ry="7"></ellipse>
                                    <g fill-rule="nonzero" stroke="#d9d9d9">
                                        <path
                                           d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z">
                                        </path>
                                        <path
                                            d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                                            fill="#fafafa"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="mt-2" style="color: rgba(0, 0, 0, 0.45)">No data</div>
                    </div>
                    `
                }`
                if (Status == "active") {
                    set_table_data(res.data.data, ".news-table");
                } else {
                    set_table_data(res.data.data, ".archive-box");
                };
            });          
    };
    get_all_datas("archive");
    get_all_datas("active");

    const fullDelete = async (id) => {
        axios.delete(`/api/guides/${id}`).then((res) => {
            const data = res;
            
            get_all_datas('active')    
            get_all_datas('archive') 
        })
    }

    const change_status = async (id, statusName) => {
        axios.put(`/api/guides/${id}`, { status: statusName }).then((res) => {
            const result = res.data;
            if (result.status == true) {
                get_all_datas('active')    
                get_all_datas('archive')   
            }
        })
    }

    const get_data = async (id) => {
        axios.get(`/api/guides/${id}`).then(async (res) => {
            const result = res.data;
            if (result.status == true) {
                const setTable = $(".edit-data")
                await setTable.html("")
                setTable.append(`
                    <div class="box-left" style="width: 25%">
                        <div class="col-md-12 mt-3">
                            <label style="font-size: 17px">Header</label>
                            <select id="headerPageq" class="form-control form-control-sm"></select>

                        </div>
                        <div class="col-md-12 mt-2">
                            <label style="font-size: 17px">Name</label>
                            <input type="text" class="form-control form-control-sm " id="name_uzq" placeholder="Sarlavha..." value="${result.data.name.uz}"/>
                            <input type="text" class="form-control form-control-sm mt-2" id="name_ruq" placeholder="Загаловок..." value="${result.data.name.ru}"/>
                            <input type="text" class="form-control form-control-sm mt-2" id="name_engq" placeholder="Heading..." value="${result.data.name.eng}"/>
                        </div>           
                    
                        <div class="col-md-12 mt-2">
                            <label style="font-size: 17px">Description</label>
                            <input type="text" id="description_uzq" class="form-control form-control-sm" placeholder="Ma'lumot..." value="${result.data.description.uz}"/>
                            <input type="text" id="description_ruq" class="form-control form-control-sm mt-2" placeholder="Информация..." value="${result.data.description.ru}"/>
                            <input type="text" id="description_engq" class="form-control form-control-sm mt-2" placeholder="Description..." value="${result.data.description.eng}"/>
                        </div>
                    
                        <div class="col-md-12 mt-2">
                            <label style="font-size: 17px">Info</label>
                            <input type="number" id="phoneq" class="form-control form-control-sm" placeholder="PhoneNum" value="${result.data.phone}"/>
                            <input type="email" id="emailq" class="form-control form-control-sm mt-2" placeholder="Email" value="${result.data.email}"/>
                            <input type="text" id="siteq" class="form-control form-control-sm mt-2" placeholder="SiteUrl" value="${result.data.site}"/>
                        </div>
                    
                        <div class="col-md-12 mt-2">
                            <label style="font-size: 17px">Time</label>
                            <select name="time" id="timeq" class="form-control form-control-sm mt-2" value="${result.data.time}">
                                <option value="Monday" ${result.data.time == ""}>Dushanba</option>
                                <option value="Tuesday">Seshanba</option>
                                <option value="Wednesday">Chorshanba</option>
                                <option value="Thursday">Payshanba</option>
                                <option value="Friday">Juma</option>
                                <option value="Saturday">Shanba</option>
                                <option value="Sunday">Yakshanba</option>
                            </select>
                            <input type="text" id="timeStartq" class="form-control form-control-sm mt-2" placeholder="StartTime - 07:00" value="${result.data.timeStart}"/>
                            <input type="text" id="timeEndq" class="form-control form-control-sm mt-2" placeholder="EndTime - 21:00" value="${result.data.timeEnd}"/>
                        </div>  
                    
                        <div class="col-md-12 mt-3">
                            <label style="font-size: 17px">Params Name</label>
                            <input type="text" id="paramsNameq" class="form-control form-control-sm" placeholder="Optional" value="${result.data.params_name == ""||result.data.params_name == undefined||result.data.params_name == null||!result.data.params_name ? `` : `${result.data.params_name}`}"/>
                        </div>
                    
                        <button onclick="updateData('${result.data._id}')" type="button" class="btn col-md-6 mt-3 btn-success btn-sm">
                            Save
                        </button>
                    </div>
                
                    <div class="box-right" style="display: grid; height: 300px;">
                        <div class="col-md-12 mt-3" style="display: grid; ">
                            <label style="font-size: 17px">Album photo</label>
                            <div class="container-guides" style="display: flex; flex-direction: column; gap: .75rem;">
                                <div class="boxy" style="padding: 2rem; width: 100%; border: 1px solid #bcbcbc;">
                                    <div class="temp" style="grid-template-columns: 1fr 2fr 30%; display: grid; align-items: center;gap: 2rem;">
                                        <div class="img" style="position: relative; width: 11.875rem; height: 11.875rem; background-color: #e5e8eb; border-radius: 50%; overflow: hidden;">
                                            <img src="${result.data.image}" style="width: 190px; height: 190px; object-fit: cover;" id="outputtq" alt="EMPLOYEE">
                                        </div>
                                        <div class="text" style="flex-direction: column; display: flex;">
                                            <h3 style="font-size: 1.5rem; font-weight: 600;" id="OutNameq">${result.data.name.uz}</h3>
                                            <p style="font-size: 1rem; max-width: 31.25rem; padding-top: 0.5rem;" id="OutDescriptionq">${result.data.description.uz}</p>
                                        </div>
                                        <div class="info" style="gap: 0.5rem; flex-direction: column; display: flex;">
                                            <a target="_blank" href="tel:+998${result.data.phone}" style="display: flex; align-items: center; gap: .625rem;"> 
                                                <svg style="width: 20px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" data-name="483947" viewBox="0 0 17.2 17.2"><path d="M15.82 11.29a9.8 9.8 0 0 1-3.067-.488 1.4 1.4 0 0 0-1.363.287l-1.934 1.46a10.7 10.7 0 0 1-4.805-4.8l1.416-1.888a1.39 1.39 0 0 0 .342-1.409 9.8 9.8 0 0 1-.49-3.072A1.38 1.38 0 0 0 4.539 0H1.38A1.38 1.38 0 0 0 0 1.38 15.84 15.84 0 0 0 15.82 17.2a1.38 1.38 0 0 0 1.38-1.38v-3.15a1.38 1.38 0 0 0-1.38-1.38" data-name="telephone"></path></svg>
                                                <i style="font-size: 1rem; color: #000; max-width: 20rem;" id="OutPhoneq">
                                                    (+998) ${result.data.phone}
                                                </i>
                                            </a>
                                            <a target="_blank" href="mailto:${result.data.email}" style="display: flex; align-items: center; gap: .625rem;">
                                                <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" width="23.154" height="16.28"><path d="M2.036 16.28a2 2 0 0 1-.872-.2l7.023-6.977.993.994a3.4 3.4 0 0 0 4.795 0l.994-.994 7.023 6.977a2 2 0 0 1-.872.2Zm13.892-8.139 7.023-6.977a2 2 0 0 1 .2.872v12.211a2 2 0 0 1-.2.872ZM0 14.246V2.035a2 2 0 0 1 .206-.872L7.227 8.14.206 15.117a2 2 0 0 1-.204-.87Zm10.14-5.112L1.164.202a2.04 2.04 0 0 1 .872-.2h19.085a2.05 2.05 0 0 1 .872.2l-8.976 8.932a2.03 2.03 0 0 1-1.439.595 2.03 2.03 0 0 1-1.438-.594Z" data-name="message"></path></svg>
                                                <i style="font-size: 1rem; color: #000; max-width: 20rem;" id="OutEmailq">
                                                    ${result.data.email}
                                                </i>
                                            </a>
                                            <a target="_blank" href="${result.data.site}" style="display: flex; align-items: center; gap: .625rem;">
                                                <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#013d8c" d="M12 0a12 12 0 1 0 12 12A12 12 0 0 0 12 0m8.647 7h-3.221a19.7 19.7 0 0 0-2.821-4.644A10.03 10.03 0 0 1 20.647 7M16.5 12a10.2 10.2 0 0 1-.476 3H7.976a10.2 10.2 0 0 1-.476-3 10.2 10.2 0 0 1 .476-3h8.048a10.2 10.2 0 0 1 .476 3m-7.722 5h6.444A19.6 19.6 0 0 1 12 21.588 19.6 19.6 0 0 1 8.778 17m0-10A19.6 19.6 0 0 1 12 2.412 19.6 19.6 0 0 1 15.222 7ZM9.4 2.356A19.7 19.7 0 0 0 6.574 7H3.353A10.03 10.03 0 0 1 9.4 2.356M2.461 9H5.9a12 12 0 0 0-.4 3 12 12 0 0 0 .4 3H2.461a10 10 0 0 1 0-6m.892 8h3.221A19.7 19.7 0 0 0 9.4 21.644 10.03 10.03 0 0 1 3.353 17M14.6 21.644A19.7 19.7 0 0 0 17.426 17h3.221a10.03 10.03 0 0 1-6.042 4.644ZM21.539 15H18.1a12 12 0 0 0 .4-3 12 12 0 0 0-.4-3h3.437a10 10 0 0 1 0 6Z"></path></svg>
                                                <i style="font-size: 1rem; color: #000; max-width: 20rem;" id="OutSiteq">
                                                    ${result.data.site}
                                                </i>
                                            </a>
                                            <div style="display: flex; align-items: center; gap: .625rem;"> 
                                                <svg style="width: 24px; flex-shrink: 0; fill: #043b87;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.6 20.4C1.3 18.2 0 15.2.1 12c0-3.2 1.3-6.2 3.5-8.4C5.8 1.3 8.8 0 12 .1c3.2 0 6.2 1.3 8.4 3.5s3.5 5.3 3.5 8.4c0 3.2-1.3 6.2-3.5 8.4s-5.3 3.5-8.4 3.5c-3.2.1-6.2-1.2-8.4-3.5M2.4 12c0 5.3 4.3 9.6 9.6 9.6s9.6-4.3 9.6-9.6-4.3-9.6-9.6-9.6h-.1c-5.3.1-9.5 4.3-9.5 9.6m10.3 7.3c0-.4-.3-.7-.7-.7s-.7.3-.7.7v.9c-4-.3-7.1-3.5-7.4-7.5h.8c.4 0 .7-.3.7-.7s-.3-.7-.7-.7h-.8c.4-3.9 3.4-7 7.3-7.4v.7c0 .4.3.7.7.7s.7-.3.7-.7v-.8c4 .3 7.1 3.4 7.5 7.3h-.8c-.4 0-.7.3-.7.7s.3.7.7.7h.9c-.3 4-3.4 7.2-7.5 7.6zM7.4 7.4c-.3.3-.3.7 0 1l4.1 4.1c.1.1.3.2.5.2s.4-.1.5-.2l2.4-2.4c.3-.3.3-.7 0-1s-.7-.3-1 0L12 11 8.4 7.4c-.1-.2-.3-.2-.5-.2s-.4.1-.5.2" class="clock_svg__st0"></path></svg>
                                                <i style="font-size: 1rem; color: #000; max-width: 20rem;" >
                                                    <span id="OutTimeq">${result.data.time}</span>
                                                    <span id="OutTimeStartq">${result.data.timeStart}</span>
                                                    -
                                                    <span id="OutTimeEndq">${result.data.timeEnd}</span>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="file" id="imageq" class="form-control form-control-sm mt-1" style="width: 280px;" accept=".jpg, .jpeg, .png, .webp" onchange="loadFileq(event)">
                        </div>
                    </div>
                `)

                $(document).ready(function () {
                    $("#name_uzq").on("input", function () {
                        $("#OutNameq").html($(this).val());
                    });
                    $("#description_uzq").on("input", function () {
                        $("#OutDescriptionq").html($(this).val());
                    });
                    $("#phoneq").on("input", function () {
                        $("#OutPhoneq").html($(this).val());
                    });
                    $("#emailq").on("input", function () {
                        $("#OutEmailq").html($(this).val());
                    });
                    $("#siteq").on("input", function () {
                        $("#OutSiteq").html($(this).val());
                    });
                    $("#timeq").on("input", function () {
                        $("#OutTimeq").html($(this).val());
                    });
                    $("#timeStartq").on("input", function () {
                        $("#OutTimeStartq").html($(this).val());
                    });
                    $("#timeEndq").on("input", function () {
                        $("#OutTimeEndq").html($(this).val());
                    });
                });

                const selectElem = $('#timeq'); 
                const selectedValue = result.data.time; 

                const days = [
                    { value: "Monday", label: "Dushanba" },
                    { value: "Tuesday", label: "Seshanba" },
                    { value: "Wednesday", label: "Chorshanba" },
                    { value: "Thursday", label: "Payshanba" },
                    { value: "Friday", label: "Juma" },
                    { value: "Saturday", label: "Shanba" },
                    { value: "Sunday", label: "Yakshanba" }
                ];
                selectElem.html('');

                days.forEach(({ value, label }) => {
                    const isSelected = value === selectedValue ? 'selected' : '';
                    selectElem.append(`<option value="${value}" ${isSelected}>${label}</option>`);
                });

                const CategoryId = result.data.header._id;
                axios.get("/api/header/all", { params: { status: 'active' } }).then(async (res) => {
                    const data = res.data.data; // [{}, {}, {}, ...]
                    const elem = $('#headerPageq');
                    await elem.html('')
                    data.forEach((header) => {
                        elem.append(`<option ${header._id == CategoryId ? 'selected' : ''} value="${header._id}">${header.name.uz}</option>`)
                        console.log(header);
                    });
                    
                })
            }
                       
        })     
    }

    const updateData = (id) => {

        const header_page = document.getElementById("headerPageq").value.trim();      

        const name_uz = document.getElementById("name_uzq").value.trim();
        const name_ru = document.getElementById("name_ruq").value.trim();
        const name_eng = document.getElementById("name_engq").value.trim();

        const txt_uz = document.getElementById("description_uzq").value.trim();
        const txt_ru = document.getElementById("description_ruq").value.trim();
        const txt_eng = document.getElementById("description_engq").value.trim();

        const phone = document.getElementById("phoneq").value.trim();
        const email = document.getElementById("emailq").value.trim();
        const site = document.getElementById("siteq").value.trim();

        const time = document.getElementById("timeq").value.trim();
        const timeStart = document.getElementById("timeStartq").value.trim();
        const timeEnd = document.getElementById("timeEndq").value.trim();

        const params_name = document.getElementById("paramsNameq").value.trim();
        
        const imageInput = document.getElementById("imageq");

        const image = imageInput?.files[0] || null;

        if (image !== null) {
            editImage(id);            
        }

        const tokens = window.localStorage.getItem("hTawDwdI4awd412wa");
        if (!tokens) {
            alert("You should sign-in to your profile");
            return;
        }
        else {
            axios.get("/api/admin/decode", { headers: { Authorization: tokens } }).then((res) => {
                const data = res.data;
                if (data.status === true) {
                
                    axios.put(`/api/guides/${id}`, {
                        name: { uz: name_uz, ru: name_ru, eng: name_eng },
                        description: { uz: txt_uz, ru: txt_ru, eng: txt_eng },
                        phone: phone,
                        email: email,
                        header: header_page,
                        site: site,
                        time: time,
                        timeStart: timeStart,
                        timeEnd: timeEnd,
                        params_name: params_name,
                    })
                        .then(response => response.data)
                        .catch(error => console.error("Error updating news:", error));
                } else {
                    alert("Akkountga kirish kerak!");
                }
            });
        }
    }
    const editImage = (id) => {
        const imageInput = document.getElementById('imageq'); 
        const image = imageInput?.files[0] || null;
        const formData = new FormData();
        formData.append("image", image);
        axios.put(`/api/guides/file/${id}`, formData)
            .then((response) => {
                get_all_datas("active");
                get_all_datas("archive");
            })
            .catch(error => {
                console.error("Image Upload Error:", error);
            });
    };
</script>