<div class="box-right" style="display: flex; justify-items: center; justify-content: center; align-items: center; align-content: center; margin-left: 250px; padding-top: 50px;">
    
    <div class="container" style="">
        <span style="font-size: 12px">uz *</span>
        <textarea id="inputUz" name="input"></textarea>
        <span style="font-size: 12px">ru *</span>
        <textarea id="inputRu" name="input"></textarea>
        <span style="font-size: 12px">eng *</span>
        <textarea id="inputEng" name="input"></textarea>
    </div>
</div>