<div class="flex flex-col pt-5 py-10 main-container m_cace">
    <section class="pt-3 pb-5 main-section">
        <div class="pb-6 flex main-info row-main">
            <h2 class="font--lg font-bold uppercase"><%= t.news %></h2>
            <div class="info-box flex">
                <a target="_blank"
                    class="social-media-icon_social-media__cPSDn social-media-icon_secondary__jyVXO social-media-icon_circle__qm08G"
                    aria-label="Twitter" href="https://twitter.com/MIIT_Uz">
                    <svg
                        xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18" height="18"
                        viewBox="0 0 24 24">
                        <path
                            d="M14.095 10.316 22.286 1h-1.94L13.23 9.088 7.551 1H1l8.59 12.231L1 23h1.94l7.51-8.543L16.45 23H23zm-2.658 3.022-.872-1.218L3.64 2.432h2.98l5.59 7.821.869 1.219 7.265 10.166h-2.982z">
                        </path>
                    </svg>
                </a>
                <a target="_blank"
                    class="social-media-icon_social-media__cPSDn social-media-icon_secondary__jyVXO social-media-icon_circle__qm08G"
                    aria-label="LinkedIn"
                    href="https://www.linkedin.com/company/ministry-of-investments-industry-and-trade-of-the-republic-of-uzbekistan">
                    <svg
                        xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18" height="18"
                        viewBox="0 0 438.536 438.535">
                        <path
                            d="M5.424 145.895H99.64v282.932H5.424zM408.842 171.739c-19.791-21.604-45.967-32.408-78.512-32.408q-17.988 0-32.695 4.427-14.7 4.424-24.838 12.419c-6.755 5.33-12.135 10.278-16.129 14.844-3.798 4.337-7.512 9.389-11.136 15.104v-40.232h-93.935l.288 13.706q.289 13.708.288 84.508 0 70.806-.572 184.722h93.931V270.942c0-9.705 1.041-17.412 3.139-23.127 4-9.712 10.037-17.843 18.131-24.407 8.093-6.572 18.13-9.855 30.125-9.855 16.364 0 28.407 5.662 36.117 16.987q11.56 16.987 11.561 46.966V428.82h93.931V266.664c-.007-41.688-9.897-73.328-29.694-94.925M53.103 9.708c-15.796 0-28.595 4.619-38.4 13.848C4.899 32.787 0 44.441 0 58.529 0 72.42 4.758 84.034 14.275 93.358q14.273 13.989 37.685 13.99h.571q23.986.002 38.688-13.99 14.701-13.986 14.417-34.829c-.19-14.087-5.047-25.742-14.561-34.973C81.562 14.323 68.9 9.708 53.103 9.708"
                            style="fill: rgb(255, 255, 255);"></path>
                    </svg>
                </a>
                <a target="_blank"
                    class="social-media-icon_social-media__cPSDn social-media-icon_secondary__jyVXO social-media-icon_circle__qm08G"
                    aria-label="Facebook" href="http://facebook.com/miit.uz">
                    <svg
                        xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18" height="18"
                        viewBox="0 0 470.513 470.513">
                        <path
                            d="M271.521 154.17v-40.541c0-6.086.28-10.8.849-14.13.567-3.335 1.857-6.615 3.859-9.853q3-4.852 9.706-6.708 6.712-1.859 17.85-1.858h40.539V0h-64.809q-56.249 0-80.803 26.691c-16.368 17.798-24.551 44.014-24.551 78.658v48.82h-48.542v81.086h48.539v235.256h97.362V235.256h64.805l8.566-81.086z">
                        </path>
                    </svg>
                    </a>
                <a target="_blank"
                    class="social-media-icon_social-media__cPSDn social-media-icon_secondary__jyVXO social-media-icon_circle__qm08G"
                    aria-label="Telegram"
                    href="https://m.sitehelp.me/telegram?siteId=saui5fs1ovorhvfeb1dq870ygx6gablx&amp;clientId=0ECXL0orT4kT4fX0qczVrqZIFtAWMp8O&amp;url=https%3A%2F%2Ft.me%2FMIIT_UZ">
                    <svg
                        xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22" height="22"
                        fill="current" viewBox="0 0 24 24">
                        <path
                            d="M19.2 4.4 2.9 10.7c-1.1.4-1.1 1.1-.2 1.3l4.1 1.3 1.6 4.8c.2.5.1.7.6.7.4 0 .6-.2.8-.4l2-2 4.2 3.1c.8.4 1.3.2 1.5-.7l2.8-13.1c.3-1.1-.4-1.7-1.1-1.3m-2.1 3-7.8 7.1-.3 3.3L7.4 13l9.2-5.8c.4-.3.8-.1.5.2">
                        </path>
                        <path d="M0 0h24v24H0z" style="fill: none;"></path>
                    </svg>
                </a>
                <a target="_blank" class="social-media-icon_social-media__cPSDn social-media-icon_secondary__jyVXO social-media-icon_circle__qm08G" aria-label="Instagram" href="http://instagram.com/miit.uz"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22" height="22" viewBox="0 0 56.7 56.7"><path d="M28.2 16.7c-7 0-12.8 5.7-12.8 12.8s5.7 12.8 12.8 12.8S41 36.5 41 29.5s-5.8-12.8-12.8-12.8m0 21c-4.5 0-8.2-3.7-8.2-8.2s3.7-8.2 8.2-8.2 8.2 3.7 8.2 8.2-3.7 8.2-8.2 8.2"></path><circle cx="41.5" cy="16.4" r="2.9"></circle><path d="M49 8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7 0-14.5 5.8-14.5 14.5v20.5c0 4.3 1.4 8 4.2 10.7 2.7 2.6 6.3 3.9 10.4 3.9h20.4c4.3 0 7.9-1.4 10.5-3.9 2.7-2.6 4.1-6.3 4.1-10.6V19.3c0-4.2-1.4-7.8-4-10.4m-.4 31c0 3.1-1.1 5.6-2.9 7.3s-4.3 2.6-7.3 2.6H18c-3 0-5.5-.9-7.3-2.6C8.9 45.4 8 42.9 8 39.8V19.3c0-3 .9-5.5 2.7-7.3 1.7-1.7 4.3-2.6 7.3-2.6h20.6c3 0 5.5.9 7.3 2.7 1.7 1.8 2.7 4.3 2.7 7.2z"></path></svg></a>
            </div>
        </div>
        <div class="boxes grid grid-cols-3 gap-10 gap-y-10" id="latestNews">
            
        </div>
        <div class="block text-center pt-5">
            <a target="_self" class="details-link" href="/news"><%= t.allnews %>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                        <path stroke="current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12h10m0 0-4-4m4 4-4 4"></path>
                    </svg>
                </span>
            </a>
        </div>
    </section>
</div>
<script src="/assets/js/axios.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script>

    var lang = "<%= t.lang %>";
    
    const get_last_news = async () => {
        const res = await axios.get(`/api/news/latest`, { params: { status: "active" } });
        const response = res.data

        const set_table = $('#latestNews')
        
        const uzbekMonths = [
            "Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun",
            "Iyul", "Avgust", "Sentabr", "Oktabr", "Noyabr", "Dekabr"
        ];

        response.forEach(item => {
            const createdAt = new Date(item.createdAt);
            const day = createdAt.getDate();
            const monthIndex = createdAt.getMonth(); // Returns 0-11
        
            // Use custom month mapping for Uzbek, otherwise use locale formatting
            const month = lang === "uz" ? uzbekMonths[monthIndex] : createdAt.toLocaleDateString(lang, { month: 'long' });
            // const month = uzbekMonths[createdAt.getMonth()];
            
            set_table.append(`
            <div style="opacity: 1; transform: none; will-change: auto;">
                <article class="news-card">
                    <a title="${item.name[lang]}"
                        class="news-card__img" href="/api/news/${item._id}">
                        <img alt="${item.name[lang]}"
                            fetchpriority="high" width="500" height="260" decoding="async" data-nimg="1"
                            class="w-full h-full object-cover"
                            srcset="${item.image}"
                            style="color: transparent;">
                        <div class="black-img" style="--overlay-bg: rgba(0, 0, 0, 0.4); --overlay-z-index: 0;">
                        </div>
                    </a>
                    <div class="py-4 px-6 flex flex-col gap-2 news-card__content">
                        <div class="flex" style="gap: var(--mantine-spacing-sm); align-items: center;">
                            <h3 class="news-card__date">
                                <b>${day}</b>
                                <span class="uppercase">
                                    <b>${month}</b>
                                </span>
                            </h3>
                            <a class="only-2-lines news-card__title" href="/api/news/${item._id}">
                                ${item.name[lang]}
                            </a>
                        </div>
                        <div class="news-card__footer flex" style="justify-content: space-between;">
                            <p>12.02.2025</p>
                            <a href="/news"><%= t.news %></a>
                        </div>
                    </div>
                </article>
            </div>
            `)
            
        });

        set_table.append(
            `<div class="flex news-time__box" style="flex-direction: column;" id='latestFive'>
                <div style="display: grid; justify-items: center; align-content: center; width: 100%; height: 120px">
                    <div>
                        <svg width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg">
                            <title>No data</title>
                            <g transform="translate(0 1)" fill="none" fill-rule="evenodd">
                                <ellipse fill="#f5f5f5" cx="32" cy="33" rx="32" ry="7"></ellipse>
                                <g fill-rule="nonzero" stroke="#d9d9d9">
                                    <path
                                       d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z">
                                    </path>
                                    <path
                                        d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z"
                                        fill="#fafafa"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="mt-2" style="color: rgba(0, 0, 0, 0.45)">No data</div>
                </div> 
            </div>
        `)
        
        const resFive = await axios.get(`/api/news/late` , { params: { status: "active" } })
        const resFiveData = resFive.data
        console.log(resFiveData);
        
        const set_five = $('#latestFive')

        if (resFiveData.length) {
            set_five.html('')
            resFiveData.forEach((item) => {
            const createdAt = new Date(item.createdAt);
            const day = createdAt.getDate();
            const monthIndex = createdAt.getMonth();
        
            const month = lang === "uz" ? uzbekMonths[monthIndex] : createdAt.toLocaleDateString(lang, { month: 'long' });
            set_five.append(`
                <div class="h-full basis-20" style="opacity: 1; transform: none; will-change: auto;">
                    <a class="flex items-center px-6 py-2 gap-8 h-full basis-20" href="/en/miit/news/view/34507">
                        <p class="mantine-focus-auto flex flex-col items-center justify-center text__m">
                            <span class="calendar_date">${day}</span>
                            <span class="calendar_day">${month}</span>
                        </p>
                        <p class="mantine-focus-auto only-2-lines text__m">
                            ${item.name[lang]}
                        </p>
                    </a>
                </div>
            `)
        })
        }
        
    };
    get_last_news()
</script>